.countries {
  display: flex;
}

/* Add your own CSS code below */

.countries--first {
  font-size: 14.5px;
}

.countries--first :nth-child(1) {
  order: 1;
}

.countries--second {
  font-size: 14.5px;
}

.countries--second :nth-child(2) {
  order: -1;
}

.countries--second :nth-child(1) {
  order: 1;
}

.countries--second :nth-child(5) {
  order: 2;
}

.countries--third {
  font-size: 14.5px;
}

.countries--third :nth-child(5) {
  order: -1;
}
.countries--third :nth-child(2) {
  order: 2;
}
.countries--third :nth-child(1) {
  order: 3;
}
.countries--third :nth-child(3) {
  order: 1;
}
